@model List<RazorCompilationOfDynamicObjects.Helpers.RequestStopwatchLog>
<style>
    ol {
        list-style-type: none;
        list-style-type: decimal;
        counter-reset: li-counter;
    }
     li {
         padding: 10px;
         font-size: 1.2em;
         position: relative;
     }    
    li:before {
        position: absolute;
        top: 0;
        left: -1.33em;
        width: 1.2em;
        height: 1.2em;
     
        font-size: 1.9em;
        line-height: 1.2em;
        text-align: center;
        color: #f5f5f5;
 
        border-radius: 50%;
        background-color: #333;
        content: counter(li-counter);
        counter-increment: li-counter;
    }
</style>

<div class="jumbotron">
    <h1>Dynamic object test</h1>
</div>

<ol>
    <li>
        Go to the page with 100 dynamic calls
        <div>
            <a class="btn btn-default" href="@Url.Action("With_100_dynamic_object_calls")">Dynamic calls</a>
        </div>
    </li>
    <li>
        Go to the page with 100 normal method calls
        <div>
            <a class="btn btn-default" href="@Url.Action("With_100_normal_method_calls")">Normal method calls</a>
        </div>
    </li>
</ol>

<h1>Requests:</h1>
<table class="table">
    <tr>
        <th>Path</th>
        <th>Time [ms]</th>
    </tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.Path</td>
        <td>@item.TimeMs</td>
    </tr>
    }
</table>